@import url('https://fonts.googleapis.com/css?family=Muli');
body {
	font-family:'Muli', sans-serif;
	width:90vw;
	margin:0 auto;
}
h1 {
	text-align:center;
	color:#FF6600;
}
header {
	background-color: black;
	min-width:90vw;
	
}
#logoRow {
	
	padding-top: 1em;
	padding-bottom: 1.5em;
}
#topLogo {
	text-align: center;
}
#topLogoPic {
	width: 60%;
	min-width:300px;
}
#headerRow {
	padding: 10px;
	border:2px solid #FF6600; 
}
#headerMenu {
	height: 100%;
}
#headerCarousel {
	height: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	margin: auto;
}
#headerLogo {
	height:100%;
}

.headerTag {
	color:#FF6600;
	font-style: italic;
	font-size: 1.5em;
}
p.headerTag {
	text-align:center;
}
#headerLogo ul {
	padding:0;
	list-style: none;
}
#headerLogo ul li {
	list-style: none;
	text-align:left;
}

#headerLogo ul li ul {
	padding-left:10px;
}
