header {
	background-color: black;
	width: inherit;
	margin-top: 50px;
}

#logoRow {
	padding-top: 1em;
	padding-bottom: 1.5em;
}

#topLogo {
	text-align: center;
}

#topLogoPic {
	width: 60%;
	min-width:300px;
}

#headerRow {
	padding: 20px;
	border-top:4px solid #FF6600;
}

#headerMenu {
	height: 100%;
}

#headerCarousel {
	height: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	margin: auto;
}

#headerLogo {
	height:100%;
}

.headerTag {
	color:#FF6600;
	font-style: italic;
	font-size: 1.5em;
}

p.headerTag {
	text-align:center;
}

#headerLogo ul {
	padding:0;
	list-style: none;
}

#headerLogo ul li {
	list-style: none;
	text-align:left;
}

#headerLogo ul li ul {
	padding-left:10px;
}
