


/* ID Page top level content holder */
	body > div {
		position:relative;
		width:inherit;
	}
	#page {

	}
	#pageContent {
	  
	}
	hr.roundedDown { 
		height: 30px; 
		border-style: solid; 
		border-color: #FF6600; 
		border-width: 2px 0 0 0; 
		border-radius: 20px; 
	} 
	hr.roundedDown:before { 
		display: block; 
		content: ""; 
		height: 30px; 
		margin-top: -31px; 
		border-style: solid; 
		border-color: #FF6600; 
		border-width: 0 0 1px 0; 
		border-radius: 20px; 
	}

/* ALL SECTION AREA */
	section::after { content:''; display:block; clear:both; }

/* HEADER SECTION */
	header {
		height: 500px; 
		background: black no-repeat fixed center top; 
		position: relative;
		margin:0 0 1em 0;
	}
	header div img#logoImage {
		/*  image becomes 461 px x 120px 
			with margins 501px x 140px
			*/
		max-height:120px;
		margin: 10px 20px;
	}

	header > div {
		width:100%;
		
	}
	header .carouselContainer {
		max-width:100%;
		margin:0 auto;
	}
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		width: 100%;
		max-height: 360px;
		margin: auto;
	}

/* MISSION STATEMENT SECTIONS */
	section.missionStatement {
		
	}

/* SPECIAL ANNOUNCEMENTS SECTION */
	.specialAnnouncements {
		
	}

/* ABOUT US SECTION */
	section.aboutUs {
		margin: 20px 10px 30px 10px;
		padding: 0;
	}
	section.aboutUs > p {
		text-align: center;
		font-style: italic;
	}
	section.aboutUs aside {
		width: 33%;
		float: left;
		text-align: center;
	}

	section.aboutUs .content {
		margin: 15px;
		background: no-repeat center top;
		background-size: 75px 75px;
		padding-top: 85px;
	}

	section.aboutUs .content.personal-training {
		background-image: url(/images/svg/personal-training.svg);
	}
	section.aboutUs .content.group-fitness {
		background-image: url(/images/svg/group-fitness.svg);
	}
	section.aboutUs .content.amenities {
		background-image: url(/images/svg/amenities.svg);
	}

/* JOIN US SECTION */
	section.joinUs {
		text-align: center;
	}

/* POSSIBLY DEFUNCT SECTIONS */
	.personalTraining {
		display: none;
	}

	.groupFitness {
		display: none;
	}

	.redZone {
		display: none;
	}
/* END OF DEFUNCT SECTIONS*/

/* COMMUNICATIONS SECTION */
	section.communications {
		margin-top: 20px;
	}

	section.communications aside {
		float: left;
	}

	section.communications aside:nth-child(1) {
		width:60%;
	}

	section.communications aside:nth-child(2) {
		width:40%;
	}
	section.communications aside div.blog {
		width: 50%;
		float: left;
	}
	section.communications aside div.currentBlog {
		text-align: center;
		padding:0 5px 0 10px;
	}

/* LOCATIONS AREA */
	section.locations {
		margin: 20px 0;
		padding: 0;
	}

	section.locations aside {
		float: left;
		padding: 0 10px 0 10px;
	}

	section.locations aside:nth-child(1),
	section.locations aside:nth-child(2) {
		width:33%;
	}
	section.locations aside:nth-child(3) {
		width:34%;
	}

	section.locations aside div.locationsGroup {
		padding:0 8px;
	}
	section.locations aside div.locationsInfo {
		width: 50%;
		float: left;
		font-size: .8em;
	}

	section.locations aside h2 {
		font-size:1.3em;
	}

	section.locations aside div.locationsInfo:nth-child(odd) {
		text-align: right;
	}
	section.locations aside div.locationsInfo::after {
		content:'';
		display:block;
		clear:both;
	}

	section.locations aside div.locationFrame {
		text-align: center;
	}
	section.locations aside div.locationFrame iframe {
		margin:10px 0;
	}


footer {
}

hr {
	display: none;
}

/* flex container basics */

.myContainerClubInfo {
	display: flex;
	flex-wrap:nowrap;
	justify-content: space-around;
}
.myContainedClubInfo {
	flex: 0 1 auto;
	text-align: right;
}
.myContainerSpecialAnnouncements {
	display:flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.myContainedSpecialAnnouncements {
	flex: 0 1 auto;
	text-align: center;
}
.margin-top-1 {
	margin-top: 1em;
}

.margin-top-2 {
	margin-top: 2em;
}

