


/* ID Page top level content holder */
	body > div {
		position:relative;
		width:inherit;
	}
	#page {

	}
	#pageContent {
	  
	}
	hr.roundedDown { 
		height: 30px; 
		border-style: solid; 
		border-color: #FF6600; 
		border-width: 2px 0 0 0; 
		border-radius: 20px; 
	} 
	hr.roundedDown:before { 
		display: block; 
		content: ""; 
		height: 30px; 
		margin-top: -31px; 
		border-style: solid; 
		border-color: #FF6600; 
		border-width: 0 0 1px 0; 
		border-radius: 20px; 
	}

/* ALL SECTION AREA */
	section::after { content:''; display:block; clear:both; }

/* HEADER SECTION */
	header {
		height: 500px; 
		background: black no-repeat fixed center top; 
		position: relative;
		margin:0 0 1em 0;
	}

	header > div {
		width:100%;
		text-align: center;
	}
	header .carouselContainer {
		max-width:640px;
		margin:0 auto;
	}
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		margin: auto;
	}

	#logoImage {
		max-height:120px;
		margin: 10px auto;
	}

/* MISSION STATEMENT SECTIONS */
	section.missionStatement {
		
	}

/* SPECIAL ANNOUNCEMENTS SECTION */
	.specialAnnouncements {
		display: none;
	}

/* ABOUT US SECTION */
	section.aboutUs {
		margin: 20px 10px 30px 10px;
		padding: 0;
	}
	section.aboutUs > p {
		text-align: center;
		font-style: italic;
	}
	section.aboutUs aside {
		width: 33%;
		float: left;
		text-align: center;
	}

	section.aboutUs .content {
		margin: 15px;
		background: no-repeat center top;
		background-size: 75px 75px;
		padding-top: 85px;
	}

	section.aboutUs .content.personal-training {
		background-image: url(/images/svg/personal-training.svg);
	}
	section.aboutUs .content.group-fitness {
		background-image: url(/images/svg/group-fitness.svg);
	}
	section.aboutUs .content.amenities {
		background-image: url(/images/svg/amenities.svg);
	}

/* JOIN US SECTION */
	section.joinUs {
		text-align: center;
	}

/* POSSIBLY DEFUNCT SECTIONS */
	.personalTraining {
		display: none;
	}

	.groupFitness {
		display: none;
	}

	.redZone {
		display: none;
	}
/* END OF DEFUNCT SECTIONS*/

/* COMMUNICATIONS SECTION */
	section.communications {
		margin-top: 20px;
	}

	section.communications aside {
		float: left;
	}

	section.communications aside:nth-child(1) {
		width:60%;
	}

	section.communications aside:nth-child(2) {
		width:40%;
	}
	section.communications aside div.blog {
		width: 50%;
		float: left;
	}
	section.communications aside div.currentBlog {
		text-align: center;
		padding:0 5px 0 10px;
	}

/* LOCATIONS AREA */
	section.locations {
		margin: 20px 0;
		padding: 0;
	}

	section.locations aside {
		float: left;
		padding: 0 10px 0 10px;
	}

	section.locations aside:nth-child(1),
	section.locations aside:nth-child(2) {
		width:33%;
	}
	section.locations aside:nth-child(3) {
		width:34%;
	}

	section.locations aside div.locationsGroup {
		padding:0 8px;
	}
	section.locations aside div.locationsInfo {
		width: 50%;
		float: left;
		font-size: .8em;
	}

	section.locations aside h2 {
		font-size:1.3em;
	}

	section.locations aside div.locationsInfo:nth-child(odd) {
		text-align: right;
	}
	section.locations aside div.locationsInfo::after {
		content:'';
		display:block;
		clear:both;
	}

	section.locations aside div.locationFrame {
		text-align: center;
	}
	section.locations aside div.locationFrame iframe {
		margin:10px 0;
	}

/* NAVIGATRION AREA */
	nav {
		background-color: rgba(0,150,0,.65);
		position: absolute;
		top:0px;
		width:inherit;
	}
	nav::after {
		content: '';
		display:block;
		clear:both;
	}
	nav ul li {
		border:1px solid #F60;
		border-radius: 15px;
		border-collapse: collapse;
	}
	nav ul {
		list-style: none;
		padding:0;
	}
	nav ul li a {
		display: inline-block;
		color:#FFF;
		padding:10px 20px;
		text-decoration: none;
		width:auto;
		position: relative;
	}
	nav ul li a:visited {
		color: #FFF;
	}
	nav ul li a:hover {
		background-color: #6D0911;
	}
	nav ul li:hover {
		background-color: #2B0306;
	}

	/* TOP LEVEL NAVIGATION */
		nav > ul {
			
		}
		nav > ul > li {
			float:left;
		}
		nav > ul > li > a {
			width:auto;
			padding:10px 20px 15px 20px;
		}
	
	nav ul ul {
		position:absolute;
		top:100%;
		background-color: #2B0306;
		display: none;
	}	
	nav ul ul li {
		position:relative;
	}
	nav ul ul ul {
		left:100%;
		top:0px;
	}
	nav ul li:hover > ul {
		display:block;
	}
/*	nav a[aria-haspopup="true"]::after {
		content: '';
		display:block;
		width:0px;
		height:0px;
		position:absolute;
		top:16px;
		right:15px;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		border-left: 4px solid #FFF;
	}
	nav > ul > li > a[aria-haspopup="true"]::after {
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid #FFF;
		left: 20px;
		right: auto;
		bottom: 6px;
		top:auto;
	}
*/

footer {
	display: none;
}

hr {
	display: none;
}