#introParagraphID
  {
    width:100%;
  }
  p
  {
    font-size:1em;
    line-height:1.25em;
  }
  .pageLink:link
  {
    text-decoration:none;
    color:#ff6600;
  }
  .pageLink:visited
  {
    color:#ff6600;
  }
  .pageLink:hover
  {
    background:#ff6600;
    border-radius:.5em;
    color:black;
  }
    .innerPageLink:link
  {
    font-size:1em;
    line-height:1.5em;
    text-decoration:none;
    color:#ff6600;
  }
  .innerPageLink:visited
  {
    color:#ff6600;
  }
  .innerPageLink:hover
  {
    background:#ff6600;
    border-radius:.5em;
    color:black;
  }
  #titleParagraph
  {
    font-size:1.5em;
    color:#a1a1a1;
    text-align: center;
    font-weight:bold;
    line-height:1.25em;
  }
  div.buttonDiv
  {
    width:100%;
  }
  form
  {
    display:flex;
    justify-content:center;
  }
  input.joinButton
  {
    width:15em;
    border-radius:.5em;
    font-size:2em;
    box-shadow:0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background:#ff6600;
    font-family:'Muli';
  }
  input.joinButton:hover
  {
    box-shadow:none;
    cursor:pointer;
  }

    #personalTrainingID
  {
    font-size:2.5em;
    color:#ff6600;
    text-align:center;
    font-weight:bold;
    padding:0;
    margin:auto;
  }
    #groupFitnessClassesID
  {
    font-size:2.5em;
    color:#ff6600;
    text-align:center;
    font-weight:bold;
    padding:0;
    margin:auto;
  }

  p.greyHyperLinkCL
  {
    width:100%;
    font-size:1.5em;
    line-height:1em;
    text-align:center;
    padding:0;
    margin:0;
  }
    
    a.greyHyperLinkCL:link
      {
      text-decoration:none;
      color:#777777;
    }
    a.greyHyperLinkCL:visited
      {
      color:#777777;
    }
    a.greyHyperLinkCL:hover
      {
      background:#777777;
    border-radius:.5em;
      color:black;
    }

    #fitEvoCornerID
  {
    font-size:2.5em;
    color:#ff6600;
    text-align:center;
    font-weight:bold;
    padding:0;
    margin:auto;
  }
    #clubAmenitiesID
  {
    font-size:2.5em;
    color:#ff6600;
    text-align:center;
    font-weight:bold;
    padding:0;
    margin:auto;
  }