@import url('https://fonts.googleapis.com/css?family=Muli');
body {
	font-family:'Muli', sans-serif;
	max-width: 1170px;
	margin:0 auto;
	font-size: 16px;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	color: #FF6600;
	font-weight: 700;
}

h1 { margin: 0 0 .5em 0; font-size: 2.8em; }
h2 { margin: 0 0 .5em 0; font-size: 1.6em; }
h3 { margin: 0 0 .5em 0; font-size: 1.3em; }
h4 { margin: 0 0 1.5em 0; font-size: 1em; }

p { margin: 0 0 1em 0; }

#footerContainer {
	max-width: inherit;
}

.subtitleParagraph {
	font-size: 1.5em;
	text-align: center;
	font-weight: 700;
	line-height: 1.25em;
	margin: 0 1.25em 1.25em 1.25em;
}


/* BUTTONS */
	.joinButton {
		width:55%;
		border-radius:.5em;
		font-size:2em;
		box-shadow:0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		background:#ff6600;
		font-family:'Muli';
	}

	.joinButton:hover {
		box-shadow:none;
		cursor:pointer;
	}
.greyText {
	color: #a1a1a1;
}
.greyBackground {
	background-color: #a1a1a1;
}

.orangeText {
	color: #FF6600;
}
.orangeBackground {
	background-color: #FF6600;
}




.smallTitle {
	text-align: center;
	font-size: 1.5em;
	font-style: bold;
}

#fitevocorner {
	max-width: inherit;
}

#fitevocorner div.smallTitle{
	border-bottom:2px solid #FF6600;
	background-color: bisque;
}

#currentBlog, #recentBlogs {
	border:2px solid #FF6600;
	height:350px;
	overflow:hidden;
}

#ammenitiesContainer {
	max-width: inherit;
}

.business-stuff {
	text-align: center;
	color: white;
}

.business-name {
	font-size:1.25em;
}

hr.roundedDown { 
  height: 30px; 
  border-style: solid; 
  border-color: #FF6600; 
  border-width: 2px 0 0 0; 
  border-radius: 20px; 
} 
hr.roundedDown:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #FF6600; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

/* ID Page top level content holder */
#page {

}

header {
	height: 500px; 
	background: black no-repeat fixed center top; 
	position: relative;
	margin:0 0 1em 0;
}

header > div {
	width:100%;
	text-align: center;
}
header .carouselContainer {
	max-width:640px;
	margin:0 auto;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	margin: auto;
}

#logoImage {
	max-height:120px;
	margin: 10px auto;
}

#pageContent {
  
}




/* ALL SECTION AREA */
	section::after { content:''; display:block; clear:both; }

/* MISSION STATEMENT SECTIONS */
	section.missionStatement {
		display: none;
	}

/* SPECIAL ANNOUNCEMENTS SECTION */
	.specialAnnouncements {
		display: none;
	}

/* ABOUT US SECTION */
	section.aboutUs {
		display: none;
		margin: 20px 10px 30px 10px;
		padding: 0;
	}
	section.aboutUs > p {
		text-align: center;
		font-style: italic;
	}
	section.aboutUs aside {
		width: 33%;
		float: left;
		text-align: center;
	}

	section.aboutUs .content {
		margin: 15px;
		background: no-repeat center top;
		background-size: 75px 75px;
		padding-top: 85px;
	}

	section.aboutUs .content.personal-training {
		background-image: url(/images/svg/personal-training.svg);
	}
	section.aboutUs .content.group-fitness {
		background-image: url(/images/svg/group-fitness.svg);
	}
	section.aboutUs .content.amenities {
		background-image: url(/images/svg/amenities.svg);
	}

/* JOIN US SECTION */
	section.joinUs {
		display:none;
		text-align: center;
	}

/* POSSIBLY DEFUNCT SECTIONS */
	.personalTraining {
		display: none;
	}

	.groupFitness {
		display: none;
	}

	.redZone {
		display: none;
	}
/* END OF DEFUNCT SECTIONS*/

/* COMMUNICATIONS SECTION */
	section.communications {
		margin-top: 20px;
	}

	section.communications aside {
		float: left;
	}

	section.communications aside:nth-child(1) {
		width:60%;
	}

	section.communications aside:nth-child(2) {
		width:40%;
	}
	section.communications aside div.blog {
		width: 50%;
		float: left;
	}
	section.communications aside div.currentBlog {
		text-align: center;
		padding:0 5px 0 10px;
	}
	

.locations {
	display: none;
}

nav {
	display: none;
}

footer {
	display: none;
}

hr {
	display: none;
}
.pageLink:link {
	text-decoration:none;
	color:#ff6600;
}

.pageLink:visited {
  color:#ff6600;
}

.pageLink:hover {
	background:#ff6600;
	border-radius:.5em;
	color:black;
}

.innerPageLink:link {
	font-size:1em;
	line-height:1.5em;
	text-decoration:none;
	color:#ff6600;
}

.innerPageLink:visited {
	color:#ff6600;
}

.innerPageLink:hover {
	background:#ff6600;
	border-radius:.5em;
	color:black;
}

p.greyHyperLinkCL {
	width:100%;
	font-size:1.5em;
	line-height:1em;
	text-align:center;
	padding:0;
	margin:0;
}

a.greyHyperLinkCL:link {
	text-decoration: none;
	color: #777777;
}

a.greyHyperLinkCL:visited {
	color: #777777;
}

a.greyHyperLinkCL:hover {
	background: #777777;
	border-radius: .5em;
	color: black;
}
@media screen and (max-width:1169px) {
	
	h1 { font-size: 2.4em; }

	.subtitleParagraph {
		font-size:1.3em;
		line-height: 1.2em;
	}

	/* JOIN US */
		section.joinUs form input.joinButton {
			font-size: 1.8em;
		}

}

@media screen and (max-width:1100px) {
	/* COMMUNICATIONS */
		
		section.communications aside:nth-child(1) {
			width:100%;
		}		
		section.communications aside:nth-child(2) {
			width:100%;
		}		
		
}

@media screen and (max-width:874px) {

	/* ABOUT US */
		section.aboutUs aside {
			width: 100%;
			float: none;
		}
		section.aboutUs aside div.content {
			margin: 8px 20px 8px 0;
			padding: 5px 0px 10px 100px;
			/*background-size: 50px 50px;*/
			background-position: 15px 50px;
		}

	/* COMMUNICATIONS */

}

@media screen and (max-width:640px) {

	h1 { font-size: 2.2em; }

	.subtitleParagraph {
		font-size:1.2em;
		line-height: 1.1em;
	}
	header {
		height:300px;
	}
	#logoImage {
		max-height: 72px;
		margin: 6px auto;
	}
	header .carouselContainer {
		max-width:384px;
	}
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		max-height: 216px;
	}

	/* ABOUT US */
		section.aboutUs aside div.content {
				padding: 5px 0px 10px 0px;
			}
		section.aboutUs .content.personal-training {
			background-image: none;
		}
		section.aboutUs .content.group-fitness {
			background-image: none;
		}
		section.aboutUs .content.amenities {
			background-image: none;
		}

	/* JOIN US */
		section.joinUs form input.joinButton {
			font-size: 1.3em;
		}

	/* COMMUNICATIONS */
		section.communications aside div.blog {
			border: 1px solid green;
			width: 100%;
			float:none;
		}
		section.communications aside div.blog::after {
			content:'';
			display:block;
			clear:both;
		}
}

@media screen and (max-width:385px) {

	h1 { font-size: 1.8em; }
	h2 { font-size: 1.4em; }
	h3 { font-size: 1.1em; }

	.subtitleParagraph {
		font-size: 1.1em;
		line-height: 1.05em;
	}

	header { 
		height: 250px; 
	}
	header .carouselContainer {
		max-width:293px;
	}
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		max-height: 165px;
	}

	/* JOIN US */
		section.joinUs form input.joinButton {
			font-size: 1.1em;
		}
}